@using FinalProje.ViewModels
@{
    ViewData["Title"] = "Insert";
}
@model SoruModel
<h2>Ürün Düzenle</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div class="mb-3">
                <label asp-for="Question" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Question">
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Answer1" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Answer1">
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Answer2" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Answer2">
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Answer3" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Answer3">
                <span asp-validation-for="Answer3" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Answer4" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Answer4">
                <span asp-validation-for="Answer4" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
                <a asp-action="Index" class="btn btn-outline-secondary">Geri Dön</a>
                <input type="submit" value="Güncelle" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

