@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sınav Sistemine Hoşgeldiniz</h1>
    <br />
    <a asp-controller="Test" asp-action="Index" class="btn btn-secondary">Soru Ekle</a>
    <a asp-controller="Test" asp-action="Main" class="btn btn-secondary">Soru Çöz</a>

</div>
