
@{
    ViewData["Title"] = "Privacy";
}

<h1 class="text-center">Gizlilik Politikası</h1>
<p class="text-center">
    Son güncelleme tarihi: [01.01.2024]
<br />
    Bu gizlilik politikası, Çobanoğlu A.Ş. tarafından işletilen FinalProje internet sitesi, biz tarafından toplanan, kullanılan, saklanan ve paylaşılan kişisel bilgiler hakkında bilgi verir. Bu politika, web sitemizi ziyaret eden kullanıcılar arasındaki gizlilik konularını anlamanız için hazırlanmıştır.
</p>
<br />
<h5>Toplanan Bilgiler:</h5>
<p>
    Web sitemizi ziyaret ettiğinizde, bazı kişisel bilgiler otomatik olarak toplanabilir. Bu bilgiler arasında tarayıcı türü, IP adresi, ziyaret tarihi ve saatleri, gezinme alışkanlıkları ve diğer istatistiksel veriler bulunabilir.

    Eğer web sitemizdeki bir formu doldurursanız veya bize bir e-posta gönderirseniz, adınız, e-posta adresiniz ve diğer iletişim bilgileriniz gibi kişisel bilgileri toplayabiliriz.
</p>
<br />
<h5>Çerezler:</h5>
<p>Web sitemizde çerezler kullanılabilir. Çerezler, tarayıcınızın depolama birimine küçük metin dosyaları olarak yerleştirilen bilgilerdir. Bu dosyalar, web sitemizi daha verimli hale getirmek, tercihlerinizi hatırlamak ve genel olarak kullanıcı deneyiminizi geliştirmek için kullanılır.</p>
<br />
<h5>Kişisel Bilgilerin Kullanımı:</h5>
<p>Toplanan kişisel bilgiler, web sitemizin işlevselliğini artırmak, size daha iyi hizmet sunmak, taleplerinizi işlemek, haber bültenleri ve promosyonlar göndermek gibi amaçlarla kullanılabilir.</p>
<br />
<h5>Kişisel Bilgilerin Paylaşılması:</h5>
<p>Kişisel bilgileriniz, yasal yükümlülüklerimizi yerine getirmek, web sitemizin güvenliğini sağlamak veya hizmet sağlayıcılarımızla işbirliği yapmak amacıyla üçüncü taraflarla paylaşılabilir.</p>
<br />
<h5>Güvenlik:</h5>
<p>Kişisel bilgilerin güvenliği bizim için önemlidir. Ancak, internet üzerinden iletişimde herhangi bir güvenlik önlemi tamamen garantili olmadığından, kişisel bilgilerinizi bize iletimde bulunurken dikkatli olmanız önemlidir.</p>
<br />
<h5>Değişiklikler:</h5>
<p>Bu gizlilik politikası zaman zaman güncellenebilir. Bu değişiklikleri görmek için düzenli aralıklarla bu sayfayı kontrol etmenizi öneririz.</p>
<br />
<h5>İletişim:</h5>
<p>
    Gizlilik politikamızla ilgili herhangi bir sorunuz veya geri bildiriminiz varsa, lütfen tlsif1903@gmail.com adresinden bizimle iletişime geçin.

    Bu gizlilik politikası, Çobanoğlu A.Ş.'nin web sitesinin kullanımıyla ilgili olarak sizin ve ziyaretçilerinizin haklarını ve gizliliğini korumayı amaçlamaktadır.
</p>